services:
  app:
    build: ./app
    ports:
      - "8080:8080"
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus@sha256:2024d7bdfc559f6254de22d65e62d799eaa8eb818fe5dbeca212d3f200b70890 # prom/prometheus:latest
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana@sha256:5c1eb28c96c2a8a103384183fb2c32f9cb499904b310b9ba8cdd6bdae435509a # grafana/grafana:latest
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    networks:
      - monitoring

  k6:
    image: grafana/k6@sha256:9e00f7d343a75b42fbc385965a1cfa5fa59d2bbc8e01341ef2a605d2cc380305 # grafana/k6:latest
    volumes:
      - ./k6:/scripts
    command: run /scripts/script.js
    depends_on:
      - app
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge
